{% extends 'base.html' %}

{% block content %}
<style>
  .carousel-item img {
    object-fit: cover;
    height: 100vh;
  }
</style>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYQ-_Q_xocS6yH8CPjvQnkeu53VQjHNAvPN37As11O0XBCY8pxZTsskJW3ZhK3Wy8-OcoYAw1jTJ3FTHRnhjY4O-4lczWA=s1600" class="d-block w-100" alt="First Slide">
    </div>
    <div class="carousel-item">
      <img src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYT2YWHHq1W2fOD7KXdR8mSPQTwcgXKK_f6VGqH_c2-aLAUIaQZFI5Im4XICqct1pTQC5SJpfOoEQGg0NFTh9vMtK-M2_Q=s1600" class="d-block w-100" alt="Second Slide">
    </div>
    <div class="carousel-item">
      <img src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYS0HSadz3o9RD_gJI_jcRdlMtCkjEtRR-wHliDNN8UqeKccRz2e2y8BPkh3dYu7GE5aaN_zWBafp8USuwTpDXFoP8rorA=s1600" class="d-block w-100" alt="Third Slide">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}
